{% extends 'main.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <form class="form text-center" method="POST">
                        {% csrf_token %}
                        {% load add_attr %}
                        {% for field in form%}
                        {% if form.errors %}
                            {% if field.label != 'Remember Me' %}
                            <div class="form-floating mb-3">
                                {{field|add_attr:'is-invalid'}}
                                <label for="floating{{field.name}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.name}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endif %}
                        {% else %}
                            {% if field.label != 'Remember Me' %}
                            <div class="form-floating mb-3">
                                {{field}}
                                <label for="floating{{field.name}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.name}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
        
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <p>Haven't signed up yet?</p>
                    <a href="{% url 'account_signup' %}" aria-label="link to signup page" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}