{% extends 'main.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mx-auto">
                <h5 class="card-header">{{page}}</h5>
                <div class="card-body">
                    <form class="form text-center" method="POST">
                        {% csrf_token %}
                        {% load add_attr %}
                        {% for field in form%}
                        {% if field.errors %}
                        <div class="form-floating mb-3">
                            {{field|add_attr:'is-invalid'}}
                            <label for="floating{{field.label}}">{{field.label}}</label>
                        </div>
                        <p>{{field.errors}}</p>
                        {% else %}
                        <div class="form-floating mb-3">
                            {{field}}
                            <label for="floating{{field.label}}">{{field.label}}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
          
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <p>Already have an account?</p>
                    <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}