{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {{detail_object.name}} 
                    <a class="btn btn-sm btn-outline-dark " href="{% url 'session_create' detail_object.id %}" role="button">New Session</a>
                  </h5>
                <div class="card-body">
                    <ol class="list-group">
                        {% for session in detail_object.sessions.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a class="list-group-item-light" href="{% url 'session' session.id %}">{{session.name}}</a></div>
                                {% for player in session.players.all %}
                                {% if player in session.get_winner%}
                                <a href="#!" class="link-offset-2 link-underline link-underline-opacity-0">
                                    <img src="{{player.avatar.url}}" alt="avatar"
                                    class="img-fluid rounded-circle me-1 mb-1" width="45"></a>
                                {% else %}
                                <a href="#!" class="link-offset-2 link-underline link-underline-opacity-0">
                                    <img src="{{player.avatar.url}}" alt="avatar"
                                    class="img-fluid rounded-circle me-1 mb-1" width="35"></a>
                                {% endif %}
                              {% endfor %}
                            </div>
                            <span class="badge text-bg-primary rounded-pill">{{session.get_status_display}}</span>
                          </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer text-muted">
                    {{detail_object.created_on|timesince}}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 order-first mb-3">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Group Standing
                  </h5>
                <div class="card-body">
                    {% load model_method %}
                    <ul class="list-group list-group-flush">
                    {% for player in detail_object.get_all_participants %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        <small>{{player}} : {{player|grp_session_wins:detail_object}} {{player|grp_game_wins:detail_object}}</small>
                        <span class="badge text-bg-primary rounded-pill"></span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted text-end">
                    <a class="link-secondary btn btn-sm btn-light" role="button" href="{% url 'group_host_update' detail_object.id %}">
                        <i class="bi bi-person-fill-gear fa-xl"></i>
                    </a>
                    <a class="link-secondary btn btn-sm btn-light" role="button" href="{% url 'group_update' detail_object.id %}">
                        <i class="bi bi-sliders2 fa-xl"></i>
                    </a>
                    <a class="link-secondary btn btn-sm btn-light" role="button" href="{% url 'group_delete' detail_object.id %}">
                        <i class="bi bi-calendar2-x fa-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}