{% extends 'main.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mx-auto">
                <h5 class="card-header">{{page}}</h5>
                <div class="card-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {% load add_attr %}
                        {% for field in form%}
                        <div class="">
                            {{field}}
                            <label for="{{field.label}}">You wish to send a join request for {{session}}. {{session.admin}} will review your request shortly</label>
                        </div>
                        {% endfor %}
          
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}