{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {{page}}
                    <a class="btn btn-sm btn-outline-dark " href="{% url 'send_invite' session_pk %}" role="button">Send Invite</a>
                  </h5>
                <div class="card-body">
                    <ol class="list-group">
                        {% for invites in list_object %}
                        {{invites}}
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 order-first mb-3">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Current Roster
                  </h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for roster in roster %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <small>Player {{roster.roster}} : {{roster.player.username}}
                            </small>
                            <span class="badge text-bg-transparent rounded-pill"><a class="link-danger link-offset-2" href="{% url 'remove_player' roster.id %}"><i class="bi bi-x fa-xl"></i></a></span>
                        </li>
                        {% endfor %}
                    </ul>
                    
                </div>
                <div class="card-footer text-muted text-end">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}