{% extends 'main.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mx-auto">
                <h5 class="card-header">{{page}}</h5>
                <div class="card-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {% load add_attr %}
                        {% for field in form%}
                        {% if field.errors %}
                        
                            {% if field.label != 'Private' %}
                            <div class="form-floating mb-3">
                                {{field|add_attr:'is-invalid'}}
                                <label for="floating{{field.label}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endif %}
                        <p>{{field.errors}}</p>
                        
                        {% else %}
                            {% if field.label != 'Private' %}
                            <div class="form-floating mb-3">
                                {{field}}
                                <label for="floating{{field.label}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            <div id='privateInfo' class='collapse'>
                                <div class="alert alert-warning d-flex align-items-center gap-2 p-1" role="alert">
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                    <div class="mx-1">
                                        <small>Creating a Private Group will only be visible to invited users</small>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% if not delete_link %}
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}" role="button">Cancel</a>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                            
                        </div>
                        {% else %}
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            {% if page == 'Update Friend Request'%}
                            <a class="btn btn-outline-danger" href="{% url 'delete_request' delete_pk %}" role="button">Delete</a>
                            {% else %}
                            <a class="btn btn-outline-danger" href="{% url 'delete_invites' delete_pk %}" role="button">Delete</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}" role="button">Cancel</a>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                            
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}