{% extends 'main.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mx-auto">
                <h5 class="card-header">{{page}}</h5>
                <div class="card-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {% load add_attr %}
                        {% for field in form%}
                        {% if field.errors %}
                        
                            {% if field.label != 'Private' %}
                            <div class="form-floating mb-3">
                                {{field|add_attr:'is-invalid'}}
                                <label for="floating{{field.label}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endif %}
                        <p>{{field.errors}}</p>
                        
                        {% else %}
                            {% if field.label != 'Private' %}
                            <div class="form-floating mb-3">
                                {{field}}
                                <label for="floating{{field.label}}">{{field.label}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch border border-dark p-2 mb-2 border-opacity-25 rounded">
                                <label class="form-check-label" for="{{field.label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
          
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}