{% extends 'main.html' %}

{% block content %}
<div class="container mt-3 px-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">{{user_object.first_name}} {{user_object.last_name}}
                    {% if request.user == user_object.user %}
                        <a class="btn btn-sm btn-outline-dark " href="{% url 'update_profile' %}" role="button">Edit Profile <i class="bi bi-pencil-square"></i></a>
                        {% else %}
                            {% if request.user.is_authenticated %}
                                {% if request.user.profile not in user_object.get_friends %}
                                    {% if not sendRequest %}
                                    
                                    <form class="form" method="POST">
                                        {% csrf_token %}
                                        
                                        <button type="submit" class="btn btn-sm btn-outline-dark">
                                            <i class="bi bi-person-plus-fill h5"></i> Add Friend
                                        </button>
                                    </form>
                                    {% else %}
                                    <a class="link-light btn btn-sm btn-dark" role="button" href="#">
                                        Status : {{sendRequest.status}}
                                    </a>
                                    {% endif %}
                                {% else %}
                                <a class="btn btn-sm btn-outline-dark" href="#" role="button"><i class="bi bi-person-dash-fill h5"></i> Remove Friend</a>
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}
                </h5>
                <div class="card-body d-flex flex-row">
                    <div class="w-50 d-flex flex-column">
                        <h6 class="text-center">Pairing Stats</h6>
                        {% for pairing in user_object.get_all_pairings %}
                        {% load model_method %}
                        <div class="px-2 m-2 bg-light-subtle bg-gradient rounded shadow-sm">
                            <small class="text-dark text-opacity-50">{{pairing|profile_pairing:user_object}}</small>
                            <p class="mb-0 text-dark text-opacity-75"><span class="fw-bold text-black">{{pairing.get_all_games_won}}</span> W : <span class="fw-bold text-black">{{pairing.get_all_games_lost}}</span> L</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="w-50 d-flex flex-column">
                        <h6 class="text-center">User Stats</h6>
                        <div id="userStats" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="px-2 m-2 bg-light bg-gradient rounded shadow-sm">
                                    <small class="text-dark text-opacity-50">Win %</small>
                                    <p class="mb-0 text-black"><strong>{{user_object.get_game_win_percent|floatformat:2}}%</strong></p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="px-2 m-2 bg-light bg-gradient rounded shadow-sm">
                                    <small class="text-dark text-opacity-50">Games Won</small>
                                    <p class="mb-0 text-black"><strong>{{user_object.get_all_games_won}}</strong></p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="px-2 m-2 bg-light bg-gradient rounded shadow-sm">
                                    <small class="text-dark text-opacity-50">W/L Ratio</small>
                                    <p class="mb-0 text-dark text-opacity-75"><span class="fw-bold text-black">{{user_object.get_all_games_won}}</span> W : <span class="fw-bold text-black">{{user_object.get_all_games_lost}}</span> L</p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-next" type="button" data-bs-target="#userStats" data-bs-slide="next">
                                <i class="bi bi-three-dots-vertical text-black" aria-hidden="true"></i>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="px-2 m-2 bg-light bg-gradient rounded shadow-sm">
                            <small class="text-dark text-opacity-50">Total Games</small>
                            <p class="my-0 text-black"><strong>{{user_object.get_all_games_played}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        {% if request.user == user_object.user %}
        <div class="col-md-3 col-lg-2 order-first mb-3">
            <div class="card position-relative">
                {% if user_object.all_session_invites.count != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {% if user_object.all_session_invites.count > 99 %}
                    99+
                    {% else %}
                    {{user_object.all_session_invites.count}}
                    {% endif %}
                    <span class="visually-hidden">unread messages</span>
                </span>
                {% endif %}
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Session Invites
                  </h5>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                        {% for invite in user_object.get_session_invites %}
                            {% if invite.inbound == True %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-0">{{invite.session}}
                                <span class="text-primary"><i class="bi bi-envelope-arrow-down-fill h5"></i></span></li>
                            {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{invite.session}}
                                <span class="text-success"><i class="bi bi-envelope-arrow-up-fill h5"></i></span></li>
                            {% endif %}
                        {% empty %}
                        <small>No Invites</small>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted text-end">
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 order-last mb-3">
            <div class="card mb-3 position-relative">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Friend List
                  </h5>
                <div class="card-body">
                    <div class="d-flex flex-row flex-wrap">
                        {% for friend in user_object.friends.all %}
                            <a class="btn btn-dark p-1 rounded-circle btn-sm text-light border border-white" style="width: 32px; height: 32px; margin-left: -4px;">{{friend.profile_avatar|upper}}</a>
                        {% endfor %}
                        <a class="btn btn-secondary p-1 rounded-circle btn-sm text-dark border border-white" style="width: 32px; height: 32px; margin-left: -4px;">+9</a>
                    </div>
                    
                </div>
                <div class="card-footer text-muted text-end">
                </div>
            </div>
            <div class="card position-relative">
                {% if user_object.get_pending_requests.count != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {% if user_object.get_pending_requests.count > 99 %}
                    99+
                    {% else %}
                    {{user_object.get_pending_requests.count}}
                    {% endif %}
                    <span class="visually-hidden">unread messages</span>
                </span>
                {% endif %}
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Pending Invites
                  </h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% for invite in user_object.get_pending_requests %}
                        {% if invite.sender == user_object %}
                        <li class="list-group-item">
                            <a class="link-dark d-flex justify-content-between" href="{% url 'update_request' invite.id %}">{{invite.receiver}}<i class="bi bi-envelope-arrow-down-fill h5 text-primary"></i></a>
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            <a class="link-dark d-flex justify-content-between" href="{% url 'update_request' invite.id %}">{{invite.sender}}<i class="bi bi-envelope-arrow-up-fill h5 text-success"></i></a>
                        </li>
                        {% endif %}
                    {% empty %}
                    <small>No Invites</small>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted text-end">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}