{% extends 'main.html' %}

{% block content %}
<div class="container mt-3 px-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center text-light">
                  </h5>
                <div class="card-body text-center">
                    <div class="mt-1 mb-1">
                    
                    </div>
                    <h4 class="mb-2">{{user_object.name}}</h4>
                    <p class="text-muted mb-2">@{{user_object.user.username}} 
                        {% if request.user == user_object.user %} 
                        <span class="mx-2">|</span>
                        <a class="link-secondary btn btn-sm btn-outline-none" role="button" href="{% url 'update_profile' %}">
                            <i class="bi bi-pencil-square h4"></i>
                        </a>
                        {% else %}
                            {% if request.user.is_authenticated %}
                                {% if request.user.profile not in user_object.get_friends %}
                                    {% if not sendRequest %}
                                    
                                    <form class="form" method="POST">
                                        {% csrf_token %}
                                        
                                        <button type="submit" class="btn btn-outline-secondary">
                                            <i class="bi bi-person-plus-fill h4"></i> Add Friend
                                        </button>
                                    </form>
                                    {% else %}
                                    <span class="mx-2">|</span>
                                    <a class="link-light btn btn-sm btn-dark" role="button" href="#">
                                        Status : {{sendRequest.status}}
                                    </a>
                                    {% endif %}
                                {% else %}
                                <button type="submit" class="btn btn-outline-secondary">
                                    <i class="bi bi-person-plus-fill h4"></i> Remove Friend
                                </button>
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        {% if request.user == user_object.user %}
        <div class="col-md-3 col-lg-2 order-first mb-3">
            <div class="card mb-3 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Upcoming Games
                  </h5>
                <div class="card-body">
                    
                </div>
                <div class="card-footer text-muted text-end">
                    
                </div>
            </div>
            <div class="card position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                </span>
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Session Invites
                  </h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for invite in user_object.get_session_invites %}
                            {% if invite.inbound == True %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{invite.session}}
                                <span class="text-primary"><i class="bi bi-envelope-arrow-down-fill h5"></i></span></li>
                            {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{invite.session}}
                                <span class="text-success"><i class="bi bi-envelope-arrow-up-fill h5"></i></span></li></li>
                            {% endif %}
                        {% empty %}
                        <small>No Invites</small>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted text-end">
                    <small>{{user_object.all_session_invites.count}}</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 order-last mb-3">
            <div class="card mb-3 position-relative">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Friend List
                  </h5>
                <div class="card-body">
                    {% for friend in user_object.friends.all %}
                    <a href="{% url 'user_profile' friend.id %}" class="link-offset-2 link-underline link-underline-opacity-0">
                        <img src="{{friend.avatar.url}}" alt="avatar"
                          class="img-fluid rounded-circle me-1 mb-1" width="35">{{friend}}</a>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted text-end">
                    <small>more</small>
                </div>
            </div>
            <div class="card position-relative">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Pending Invites
                  </h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% for invite in user_object.get_pending_requests %}
                        {% if invite.sender == user_object %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{invite.receiver}}
                            <span class="text-primary"><i class="bi bi-envelope-arrow-down-fill h5"></i></span></li>
                        {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{invite.sender}}
                            <a class="" href="{% url 'update_request' invite.id %}"><span class="text-success"><i class="bi bi-envelope-arrow-up-fill h5"></i></span></a></li>
                        {% endif %}
                    {% empty %}
                    <small>No Invites</small>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted text-end">
                    <small>{{user_object.all_pending_requests.count}}</small>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}