{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">
    
    <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for obj in list_object %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'update_invites' obj.id %}" aria-label="link to update session invite">{{ obj.session }}</a>
                </div>
                <div class="card-footer text-muted">
                    <small>{% if obj.inbound == True %}invite pending since {% else %}{{obj.session.admin}} awaiting response since{% endif %} {{obj.sent_on|timesince}} ago</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-2">
            {% if page_obj.has_previous %}
            
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            
            {% endif %}

            <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            
            {% endif %}
            
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}