{% load static %}
<header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <h1>
                <a class="navbar-brand" href="{% url 'home' %}">Badminton</a>
            </h1>
            {% if is_paginated %}
            <form class="d-flex" role="search" method="GET" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
            </button>
            </form>
            {% endif %}
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="btn btn-dark btn-md">
                Logout <i class="bi bi-box-arrow-right h6"></i>
            </a>
            {% else %}
            <a class="btn btn-dark btn-md" href="{% url 'account_login' %}">
                Login <i class="bi bi-box-arrow-in-right h6"></i>
            </a>
            {% endif %}
            </div>
        </div>
    </nav>
    {% if request.user.is_authenticated %}
    <!-- Navbar -->
    <nav class="navbar bg-dark border-bottom border-body py-0" data-bs-theme="dark">
        <!-- Container wrapper -->
        <div class="container-sm">
            <ul class="navbar-nav d-flex flex-row mx-auto gap-3">
                <li class="nav-item me-1 me-lg-0" >
                    <a class="nav-link mx-1 text-white" href="{% url 'groups' %}" data-bs-toggle="tooltip" data-bs-title="Group Search"><i class="bi bi-nintendo-switch h4"></i></a>
                </li>
                <li class="nav-item me-1 me-lg-0">
                    {% if '/events/' in request.path and view.kwargs.pk is not None %}
                    <a class="nav-link mx-1 text-white" href="{% url 'group_detail' detail_object.get_group_id %}" data-bs-toggle="tooltip" data-bs-title="Group Detail"><i class="bi bi-calendar2 h4"></i></a>
                    {% else %}
                    <a class="nav-link mx-1 text-white" href="{% url 'groups' %}" data-bs-toggle="tooltip" data-bs-title="Group Detail"><i class="bi bi-calendar2 h4"></i></a>
                    {% endif %}
                </li>
                <li class="nav-item me-1 me-lg-0">
                    {% if '/events/session' in request.path %}
                    <a class="nav-link mx-1 text-white" href="{% url 'session' view.kwargs.pk %}" data-bs-toggle="tooltip" data-bs-title="Session Detail"><i class="bi bi-controller h4"></i></a>
                    {% else %}
                    <a class="nav-link mx-1 text-white" href="{% url 'groups' %}" data-bs-toggle="tooltip" data-bs-title="Session Detail"><i class="bi bi-controller h4"></i></a>
                    {% endif %}
                </li>
                <li class="nav-item me-1 me-lg-0">
                    <a class="nav-link mx-1 text-white" href="{% url 'list_invites' %}" data-bs-toggle="tooltip" data-bs-title="Session Invites"><i class="bi bi-bell h4"></i></a>
                </li>
                <li class="nav-item me-1 me-lg-0">
                    <a class="nav-link mx-1 link-light" href="{% url 'search_profile' %}" data-bs-toggle="tooltip" data-bs-title="Find Friends"><i class="bi bi-ubuntu h4"></i></a>
                </li>
                <li class="nav-item me-1 me-lg-0">
                    <a class="nav-link mx-1 text-white" href="{% url 'list_request' %}" data-bs-toggle="tooltip" data-bs-title="Pending Invites"><i class="bi bi-person-exclamation h4"></i></a>
                </li>
                <li class="nav-item me-1 me-lg-0">
                    <a class="nav-link mx-1 text-white" href="{% url 'profile' %}" data-bs-toggle="tooltip" data-bs-title="User Profile"><i class="bi bi-clipboard-data h4"></i></a>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    {% endif %}
</header>
