{% load static %}
<header>
    <nav class="navbar bg-light">
        <div class="container">
            <h1>
                <a class="navbar-brand" href="{% url 'home' %}">Badminton</a>
            </h1>
            {% if is_paginated %}
            <form class="d-flex" role="search" method="GET" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i>
            </button>
            </form>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="dropdown-center">
                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">
                </a>
                <div class="btn-group">
                    <a class="btn btn-dark btn-md" href="{% url 'profile' %}">
                        {{request.user.username}}
                    </a>
                    <button type="button" class="btn btn-md btn-dark dropdown-toggle dropdown-toggle-split ml-3" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li>
                            <a href="{% url 'profile' %}" class="dropdown-item">
                                <i class="bi bi-gear"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">
                                <i class="bi bi-box-arrow-right"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <a class="btn btn-dark btn-md" href="{% url 'account_login' %}">
                Login <i class="bi bi-box-arrow-in-right"></i>
            </a>
            {% endif %}
            </div>
        </div>
    </nav>
</header>
